body {
  font-family: 'Sofia Sans Condensed', 'Open Sans', sans-serif;
  font-size: 16px;
}

.bg {
  background-image: url("../background-img.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#space {
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  color: #000000;
  font-size: 20px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #19b6da;
  color: white;
  font-size: 25px;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.clearBtn {
  width: 14rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 20px;
  letter-spacing: .2em;
}

.clearBtn:hover {
  
}